In [32]:
#import dependencies 

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats

In [39]:
# Read CSV
lin_reg_df = pd.read_csv("cleaned_data.csv")
rating = lin_reg.iloc[:,6]
lin_reg_df.head()

,Unnamed: 0,Charity,ein,Mission,Cause,Category Name,Rating,State,Contributions
0,0,Mount Desert Island Biological Laboratory,10202467,The MDI Biological Laboratory is a rapidly gro...,"{'causeID': 35, 'causeName': 'Non-Medical Scie...",Research and Public Policy,92.61,ME,12924245.0
1,1,United Way of Eastern Maine,10211478,"Working with the communities we serve, the Uni...","{'causeID': 42, 'causeName': 'United Ways', 'c...",Community Development,81.84,ME,2438155.0
2,2,The Jackson Laboratory,10211513,"The Jackson Laboratory, founded in 1929, is an...","{'causeID': 14, 'causeName': 'Medical Research...",Health,93.16,ME,331241336.0
3,3,Maine Historical Society,10211530,"Founded in 1822, the Maine Historical Society ...","{'causeID': 6, 'causeName': 'Libraries, Histor...","Arts, Culture, Humanities",80.31,ME,2219692.0
4,4,Boys & Girls Clubs of Southern Maine,10211543,"For more than 100 years, Boys & Girls Clubs of...","{'causeID': 16, 'causeName': 'Youth Developmen...",Human Services,91.54,ME,3859985.0

In [43]:
#set axis
#ratings = lin_reg_df.groupby("Charity")["Rating"]




print(ratings)

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x1a220bc2e8>